# Environment
.env
.envrc

# Elixir & Erlang
/_build/
/cover/
/deps/
/doc/
/log/
/.fetch
erl_crash.dump
*.ez
alert-*.tar

# NodeJS
npm-debug.log
/assets/node_modules/
/assets/dist
# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# Terraform
*.tfstate*
.terraform

# Secrets
secrets/*

# Tai SQLite3 databases
/priv/tai
