<div>
  <h2 class="text-3xl">Groups & Advisors</h2>

  <div class="mt-4 flex items-center space-x-2">
    <input type="text" placeholder="Search" disabled class="bg-gray-100 bg-opacity-50" />

    <form phx-change="node_selected" class="space-x-2">
      <select name="node" id="select_nodes" phx-update="ignore">
        <%= content_tag :option, value: Node.self() do %>
          <%= Node.self() %>
        <% end %>

        <%= for n <- Node.list do %>
          <%= content_tag :option, value: n, selected: @node == Atom.to_string(n) do %>
            <%= n %>
          <% end %>
        <% end %>
      </select>
    </form>
  </div>
</div>

<hr class="mt-4" />

<div class="mt-4 mb-4">
  <h3 class="text-2xl">Groups</h3>

  <table class="w-full mt-4">
    <thead>
      <th scope="col" class="px-4 py-2">Group ID</th>
      <th scope="col" class="px-4 py-2">Total</th>
      <th scope="col" class="px-4 py-2">Running</th>
      <th scope="col" class="px-4 py-2">Stopped</th>
      <th scope="col" class="px-4 py-2">Actions</th>
    </thead>
    <tbody>
      <%= if Enum.any?(@groups) do %>
        <%= Enum.map @groups, fn g -> %>
          <tr>
            <td scope="row" class="border px-4 py-2"><%= g.id %></td>
            <td class="border px-4 py-2"><%= g.total %></td>
            <td class="border px-4 py-2"><%= g.running %></td>
            <td class="border px-4 py-2"><%= g.stopped %></td>
            <td class="border px-4 py-2 text-right">
              <%= if g.running == g.total do %>
                <button
                  phx-click="start-group"
                  phx-value-id="<%= g.id %>"
                  class="bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded"
                  disabled
                >
                  start all
                </button>
              <% else %>
                <button
                  phx-click="start-group"
                  phx-value-id="<%= g.id %>"
                  class="bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded"
                >
                  start all
                </button>
              <% end %>

              <%= if g.running > 0 do %>
                <button
                  phx-click="stop-group"
                  phx-value-id="<%= g.id %>"
                  class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                >
                  stop all
                </button>
              <% else %>
                <button
                  phx-click="stop-group"
                  phx-value-id="<%= g.id %>"
                  class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                  disabled
                >
                  stop all
                </button>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" class="border px-4 py-2">No advisor groups</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr />

<div class="mt-4">
  <h3 class="text-2xl">Advisors</h3>

  <table class="w-full mt-4">
    <thead>
      <th scope="col" class="px-4 py-2">Group ID</th>
      <th scope="col" class="px-4 py-2">Advisor ID</th>
      <th scope="col" class="px-4 py-2">Status</th>
      <th scope="col" class="px-4 py-2">PID</th>
      <th scope="col" class="px-4 py-2">Actions</th>
    </thead>
    <tbody>
      <%= if Enum.any?(@instances) do %>
        <%= Enum.map @instances, fn a -> %>
          <tr>
            <td class="border px-4 py-2"><%= a.group_id %></td>
            <td class="border px-4 py-2"><%= a.advisor_id %></td>
            <td class="border px-4 py-2"><%= a.status %></td>
            <td class="border px-4 py-2"><%= a.pid |> format %></td>
            <td class="border px-4 py-2 text-right">
              <%= if a.status == :running do %>
                <button
                  phx-click="stop-advisor"
                  phx-value-group-id="<%= a.group_id %>"
                  phx-value-advisor-id="<%= a.advisor_id %>"
                  class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                >
                  stop
                </button>
              <% else %>
                <button
                  phx-click="start-advisor"
                  phx-value-group-id="<%= a.group_id %>"
                  phx-value-advisor-id="<%= a.advisor_id %>"
                  class="bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded"
                >
                  start
                </button>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" class="border px-4 py-2">No instances</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
