<div>
  <h2 class="text-3xl">Groups & Advisors</h2>

  <div class="mt-4 flex items-center space-x-2">
    <input type="text" placeholder="Search" disabled title="coming soon..." class="bg-gray-100 opacity-25" />

    <form phx-change="node_selected" class="space-x-2">
      <select name="node" id="select_nodes" phx-update="ignore">
        <%= content_tag :option, value: Node.self() do %>
          <%= Node.self() %>
        <% end %>

        <%= for n <- Node.list do %>
          <%= content_tag :option, value: n, selected: @node == Atom.to_string(n) do %>
            <%= n %>
          <% end %>
        <% end %>
      </select>
    </form>
  </div>
</div>

<hr class="mt-4" />

<div class="mt-8 mb-4">
  <h3 class="text-2xl">Groups</h3>

  <table class="w-full mt-4">
    <thead class="bg-gray-200 border-t-2 border-gray-400">
      <th scope="col" class="px-4 py-3 text-left text-gray-700">Group ID</th>
      <th scope="col" class="px-4 py-3 text-left text-gray-700">Total</th>
      <th scope="col" class="px-4 py-3 text-left text-gray-700">Running</th>
      <th scope="col" class="px-4 py-3 text-left text-gray-700">Stopped</th>
      <th scope="col" class="px-4 py-3 text-right text-gray-700">Actions</th>
    </thead>
    <tbody>
      <%= if Enum.any?(@groups) do %>
        <%= Enum.map @groups, fn g -> %>
          <tr class="hover:bg-gray-50 border-t border-b group">
            <td scope="row" class="px-4 py-2"><%= g.id %></td>
            <td class="px-4 py-2"><%= g.total %></td>
            <td class="px-4 py-2"><%= g.running %></td>
            <td class="px-4 py-2"><%= g.stopped %></td>
            <td class="px-4 py-2 text-right">
              <%= content_tag(
                :button,
                "start all",
                class: "text-green-500 disabled:opacity-25 font-bold invisible group-hover:visible py-3 ",
                disabled: g.running == g.total,
                "phx-click": "start-group",
                "phx-value-id": g.id
              ) %>

              <%= content_tag(
                :button,
                "stop all",
                class: "text-red-500 disabled:opacity-25 font-bold invisible group-hover:visible py-3 ml-4",
                disabled: g.running == 0,
                "phx-click": "stop-group",
                "phx-value-id": g.id
              ) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="hover:bg-gray-50 border-t border-b group">
          <td colspan="5" class="px-4 py-3">No advisor groups</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <h3 class="text-2xl">Advisors</h3>

  <table class="w-full mt-4">
    <thead class="bg-gray-200 border-t-2 border-gray-400">
      <th scope="col" class="px-4 py-3 text-left text-gray-700">Group ID</th>
      <th scope="col" class="px-4 py-3 text-left text-gray-700">Advisor ID</th>
      <th scope="col" class="px-4 py-3 text-left text-gray-700">Status</th>
      <th scope="col" class="px-4 py-3 text-left text-gray-700">PID</th>
      <th scope="col" class="px-4 py-3 text-right text-gray-700">Actions</th>
    </thead>
    <tbody>
      <%= if Enum.any?(@instances) do %>
        <%= Enum.map @instances, fn a -> %>
          <tr class="hover:bg-gray-50 border-t border-b group">
            <td class="px-4 py-3"><%= a.group_id %></td>
            <td class="px-4 py-3"><%= a.advisor_id %></td>
            <td class="px-4 py-3"><%= a.status %></td>
            <td class="px-4 py-3"><%= a.pid |> format %></td>
            <td class="px-4 py-3 text-right">
              <%= content_tag(
                :button,
                "start",
                class: "text-green-500 disabled:opacity-25 font-bold invisible group-hover:visible py-3 ml-4",
                disabled: a.status == :running,
                "phx-click": "start-advisor",
                "phx-value-group-id": a.group_id,
                "phx-value-advisor-id": a.advisor_id
              ) %>
              <%= content_tag(
                :button,
                "stop",
                class: "text-red-500 disabled:opacity-25 font-bold invisible group-hover:visible py-3 ml-4",
                disabled: a.status != :running,
                "phx-click": "stop-advisor",
                "phx-value-group-id": a.group_id,
                "phx-value-advisor-id": a.advisor_id
              ) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="hover:bg-gray-50 border-t border-b group">
          <td colspan="5" class="px-4 py-3">No instances</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
