body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Lucida Grande", sans-serif;
}

.nav-primary li, .nav-secondary li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav-primary a::after, .nav-secondary a::after {
  content: "|";
  margin-left: 8px;
}

.nav-primary li:last-of-type a::after,
.nav-secondary li:last-of-type a::after {
  content: "";
}
