/**
 * Dependency Setup
 */
@import "~nprogress/nprogress.css";

/**
 * Variables
 */
@import "./variables/spacing";

/**
 * Setup
 */
// @import "./phoenix";
@import "./custom_reset";

/**
 * Framework
 */
// @import "./buttons";
// @import "./layout";
@import "./utility";
@import "./components/navigation";
@import "./components/table";
@import "./components/select";

/**
 * Custom Components
 */
@import "./components/pair_list";

/**
 * Pages
 */
@import "./pages/balances";
@import "./pages/products";

/**
 * Bootstrap
 */
@import "./theme";
@import "~bootstrap/scss/bootstrap";
