.pair-list {
  list-style: none;
}

.pair-list li {
  padding: 0;
}

.pair-list li > a {
  color: #1b1b1b;
  display: block;
  padding: 8px;
}

.pair-list .todo {
  color: #ccc;
  text-decoration: line-through;
}

.pair-list .todo > a {
  color: #ccc;
}

/* TODO: This can probably be done better with flex-box */
.pair-list strong {
  display: inline-block;
  text-align: right;
  margin-right: 8px;
}
