<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Workbench", suffix: " · Fremantle Industries" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <h1>
          <a href="/">Workbench</a>
        </h1>

        <%= if Guardian.Plug.current_resource(@conn) do %>
          <nav class="nav-primary">
            <ol>
              <li><%= link "Balances", to: Routes.live_path(@conn, WorkbenchWeb.BalanceAllLive.Index) %></li>
              <li><%= link "Accounts", to: Routes.live_path(@conn, WorkbenchWeb.AccountLive.Index) %></li>
              <li><%= link "Wallets", to: Routes.live_path(@conn, WorkbenchWeb.WalletLive.Index) %></li>
              <li><%= link "Orders", to: Routes.live_path(@conn, WorkbenchWeb.OrderLive.Index) %></li>
              <li><%= link "Positions", to: Routes.live_path(@conn, WorkbenchWeb.PositionLive.Index) %></li>
              <li><%= link "Products", to: Routes.live_path(@conn, WorkbenchWeb.ProductLive.Index) %></li>
              <li><%= link "Fees", to: Routes.live_path(@conn, WorkbenchWeb.FeeLive.Index) %></li>
              <li><%= link "Venues", to: Routes.live_path(@conn, WorkbenchWeb.VenueLive.Index) %></li>
              <li><%= link "Advisors", to: Routes.live_path(@conn, WorkbenchWeb.AdvisorLive.Index) %></li>
              <li><%= link "Metrics", to: Routes.live_dashboard_path(@conn, :home) %></li>
              <li>
                <%= form_for @conn, Routes.auth_path(@conn, :delete), fn _f -> %>
                  <%= submit "Logout", class: "btn btn-danger" %>
                <% end %>
              </li>
            </ol>
          </nav>
        <% end %>
      </section>
    </header>

    <main role="main" class="container">
      <%= @inner_content %>
    </main>
  </body>
</html>
