<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Workbench", suffix: " · Fremantle Industries" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="">
        <nav class="navbar navbar-dark bg-dark">
          <a href="/" class="nav-link navbar-brand float-left">Workbench</a>
          <nav class="nav">
            <%= link "Balances", to: Routes.live_path(@conn, WorkbenchWeb.BalanceAllLive.Index), class: "nav-link text-white" %>
            <%= link "Accounts", to: Routes.live_path(@conn, WorkbenchWeb.AccountLive.Index), class: "nav-link text-white" %>
            <%= link "Wallets", to: Routes.live_path(@conn, WorkbenchWeb.WalletLive.Index), class: "nav-link text-white" %>
            <%= link "Orders", to: Routes.live_path(@conn, WorkbenchWeb.OrderLive.Index), class: "nav-link text-white" %>
            <%= link "Positions", to: Routes.live_path(@conn, WorkbenchWeb.PositionLive.Index), class: "nav-link text-white" %>
            <%= link "Products", to: Routes.live_path(@conn, WorkbenchWeb.ProductLive.Index), class: "nav-link text-white" %>
            <%= link "Fees", to: Routes.live_path(@conn, WorkbenchWeb.FeeLive.Index), class: "nav-link text-white" %>
            <%= link "Venues", to: Routes.live_path(@conn, WorkbenchWeb.VenueLive.Index), class: "nav-link text-white" %>
            <%= link "Advisors", to: Routes.live_path(@conn, WorkbenchWeb.AdvisorLive.Index), class: "nav-link text-white" %>
            <%= link "Metrics", to: Routes.live_dashboard_path(@conn, :home), class: "nav-link text-white" %>
          </nav>
        </nav>
      </section>
    </header>

    <main role="main" class="container">
      <%= @inner_content %>
    </main>
  </body>
</html>
