<section class="row">
  <article class="column">
    <%= unless @current_user do %>
      <a class="btn btn-primary btn-lg" href="/auth/google">
        Login
      </a>
    <% end %>
  </article>
</section>
