<div class="flex items-center space-x-4">
  <h2 class="text-3xl">Hourly Balances</h2>
  <%= render WorkbenchWeb.BalanceNavView, "show.html", conn: @socket %>
</div>

  <div
    id="balance-hour"
    phx-hook="BalanceHour"
    data-hours="<%= Jason.encode!(hours(@balances)) %>"
    data-usd-min="<%= Jason.encode!(usd_min(@balances)) %>"
    data-usd-max="<%= Jason.encode!(usd_max(@balances)) %>"
    class="mt-4"
  >
    <div phx-update="ignore">
    </div>
  </div>
