// Colors
$blue: #5c93d4;
$green: #50ee61;
$violet: #727DF5;
$light-violet: #b6c3fb;
$red: #ec715d;
$navy: #252634;
$light-grey: #f7f7f9;
$dark-grey: #323A46;

// Default text color
$body-color: #292929;

// Table header color
$table-header-text: #686868;

// Background color
$body-bg: #ffffff;
