<div class="flex items-center space-x-4">
  <h2 class="text-3xl">Product - <%= @product.venue_id %>:<%= @product.symbol %></h2>
</div>

<dl class="mt-4 inline-grid grid-cols-2">
  <%= for key <- attrs() do %>
    <dt class="font-bold w-36"><%= key %></dt>
    <dd><%= key |> pluck(@product) %></dd>
  <% end %>
</dl>
